<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <main>
        <div class="nuevosIngresos">
            <h1>Nuevos Ingresos</h1>
            <p>Descubri el proximo Funko Pop de tu coleccion</p>
            <a href="shop" class="nuevosIngresosButton">SHOP</a>
        </div>

        <section>
            <% colecciones.forEach( coleccion => { %>
            <article class="coleccionContainer">
                <div>
                    <h2 class="tituloColeccion"><%= coleccion.nombre %></h2>
                    <p class="descripcionColeccion"><%= coleccion.descripcion %></p>
                    <hr class="hrColeccion">
                    <a href="shop" class="buttonColeccion">VER COLECCION</a>
                </div>
                <div>
                    <img src=<%= coleccion.img %> width="300px" alt="">
                </div>
            </article>
            <% }) %>
        </section>
        
        <section class="ultimosLanzamientos">
            <h2 class="tituloColeccion">ÚLTIMOS LANZAMIENTOS</h2>
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <% productos.forEach( producto => { %>
                            <article class="coleccionContainer">
                                <div>
                                    <a href="/shop/item/<%= producto.product_sku %>"><img src=<%= producto.img_front %> width="300px" alt=""></a>
                                </div>
                                <div>
                                    <p class="itemLicencia"><%= producto.licence_name %></p>
                                    <p class="itemNombre"><%= producto.product_name %></p>
                                    <p class="itemPrecio">$<%= producto.product_price %></p>
                                <p class="itemCuotas"><%= producto.dues %> cuotas sin interes</p>
                                </div>
                            </article>
                            <% }) %>
                    </ul>
                
                </div>

            </div>
        </section>

          <script src="https://unpkg.com/@glidejs/glide@3.3.0/dist/glide.min.js"></script>

          <script>
            new Glide('.glide', {
                type: 'carousel',
                startAt: 0,
                perView: 3,
                gap: 30,
                autoplay: 2000,
                breakpoints: {
                    991: {
                        perView: 2
                    },
                    768: {
                        perView: 1
                    }
                }
            }).mount();
          </script>
    </main>
    
    <%- include("partials/footer") %>
</body>
</html>