<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
<body>
    <%- include("partials/navbar") %>
    <main id="mainContainer">
        
        <div id="shopItemImg">
            <img src=<%= item.img_front %> alt="">
        </div>

        <div id="shopItemInfo">
            <p><%= item.licence_name %></p>
            <h1><%= item.product_name %></h1>
            <p><%= item.product_description %> de <%= item.product_name %></p>
            <p>$ <%= item.product_price %></p>
        </div>

        
    </main>
    
    <section class="ultimosLanzamientos">
        <h2 class="tituloColeccion">PRODUCTOS RELACIONADOS</h2>
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <% productos.forEach( producto => { %>
                        <article class="coleccionContainer">
                            <div>
                                <a href="shop/item/<%= producto.product_sku %>"><img src=<%= producto.img_front %> width="300px" alt=""></a>
                            </div>
                            <div>
                                <p class="itemLicencia"><%= producto.licence_name %></p>
                                <p class="itemNombre"><%= producto.product_name %></p>
                                <p class="itemPrecio">$<%= producto.product_price %></p>
                            <p class="itemCuotas">3 cuotas sin interes</p>
                            </div>
                        </article>
                        <% }) %>
                </ul>
            
            </div>

        </div>
    </section>

      <script src="https://unpkg.com/@glidejs/glide@3.3.0/dist/glide.min.js"></script>

      <script>
        new Glide('.glide', {
            type: 'carousel',
            startAt: 0,
            perView: 3,
            gap: 30,
            autoplay: 2000,
            breakpoints: {
                991: {
                    perView: 2
                },
                768: {
                    perView: 1
                }
            }
        }).mount();
      </script>


    <%- include("partials/footer") %>
</body>
</html>