<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
<body>
    <%- include("partials/navbar") %>
    <main>
        <div id="shopContainer">
            
            <div id="shopItemImg">
                <img src=<%= item.img_front %> alt="" onmouseover="cambiarImagen(this, '<%=item.img_back %>')" onmouseout="restaurarImagen(this, '<%=item.img_front %>')">
            </div>

            <div id="shopItemInfo">
                <p><%= item.licence_name %></p>
                <h1><%= item.product_name %></h1>
                <p><%= item.product_description %> de <%= item.product_name %></p>
                <p>$ <%= item.product_price %></p>
    
                <div id="shopItemContainerBtnCantidad"> 
                    <label for="cantidadItem" aria-label="Cantidad">
                        <input type="number" name="cantidadItem" id="cantidadItem" value="0">
                    </label>
                    <div id="btnItemCantContainer">
                        <button href="" class="btnItemCant">+</button>
                        <button href="" class="btnItemCant">-</button>
                    </div>
                    <button class="btnAgregarCarrito">Agregar al carrito</button>
                </div>
                <a href="" class="shopItemCuotas"><span style="text-decoration:underline;">Ver métodos de pago</span> - <%= item.dues %> CUOTAS SIN INTERÉS</a>
            </div>

        </div>

        <!-- Carrusel de últimos lanzamientos -->
        <section class="ultimosLanzamientos">
            <h2 class="tituloProductosRelacionados">PRODUCTOS RELACIONADOS</h2>
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <% productos.forEach( producto => { %>
                            <article class="coleccionContainer">
                                <div>
                                    <a href="/shop/item/<%= producto.product_sku %>"><img src=<%= producto.img_front %> width="300px" alt=""></a>
                                </div>
                                <div>
                                    <p class="itemLicencia"><%= producto.licence_name %></p>
                                    <p class="itemNombre"><%= producto.product_name %></p>
                                    <p class="itemPrecio">$<%= producto.product_price %></p>
                                <p class="itemCuotas">3 cuotas sin interes</p>
                                </div>
                            </article>
                            <% }) %>
                    </ul>
                </div>

            </div>
        </section>
    </main>

    <%- include("partials/footer") %>
                <!-- Montamos glide para que funcione el carrusel  -->
                <script src="https://unpkg.com/@glidejs/glide@3.3.0/dist/glide.min.js"></script>
                <script>
                    new Glide('.glide', {
                        type: 'carousel',
                        startAt: 0,
                        perView: 3,
                        gap: 30,
                        autoplay: 2000,
                        breakpoints: {
                            991: {
                                perView: 2
                            },
                            768: {
                                perView: 1
                            }
                        }
                    }).mount();
                </script>

    <script src="/js/shopItem.js"></script>
=
</body>
</html>